.goals-page {
    font-family: Arial, sans-serif;
    margin: 10px;
    margin-left: 395px;
    padding: 20px;
    max-width: 800px;
    
  }
  
  .title {
    text-align: center;
    margin-top:50;
  }
  
  .goals-section {
    margin: 20px 0;
  }
  
  .section-title {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .goals-list {
    list-style-type: none;
    padding: 0;
    margin-left: 200px;
  }
  
  .goal-item {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  
  .goal-item input[type='checkbox'] {
    margin-right: 10px;
    transform: scale(1.2);
  }
  
  .goal-item label {
    font-size: 1rem;
    color: #ffffff;
  }
  